.boast .boast_img img {
    transition: transform 1.5s ease-in-out;
    object-fit: cover;
}

.boast .boast_img:hover img {
    transform: scale(1.1);
}

.boast-col-img {
    transition: transform 1.5s ease-in-out;
    object-fit: cover;
}

.boast-col-img:hover {
    transform: scale(1.1);
}

.card {
    /* position: relative; */
    overflow: hidden;
}

.blog-card-date span{
    position:absolute;
    /* bottom: 0; */

    left: 0;
    background-color: #556F5F;
    color: white;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    padding: 7px 18px;
    border-top-right-radius: 30px;
}

